#container {
//width:100%;
max-width:720px;
margin:auto;
}
th {
text-align:center;
vertical-align:center;
background-color:grey;
color:white;
border:4px solid black;
font-size:20px;
font-family: 'Poppins', sans-serif;
}
td {
width:50%;
text-align:center;
break-word:break-word;
border:4px solid black;
vertical-align:top;
background-color:white;
color:black;
font-size:16px;
font-family: 'Poppins', sans-serif;
}
table {
width:100%;
border-collapse:collapse;
border-spacing:0px;
}
 p {
 background-color:grey;;
 color:white;
 font-weight:bold;
 font-family: 'Poppins', sans-serif;
 font-size:16px;
 }

